.card-area{
    border: 3px solid black;
    width: 90%;
    height: 90%;
}

.card{
    width: 100%;
    height: 100%;
    position: relative; 
    backface-visibility: hidden;
    transition: .7s;
}

/* 앞 뒷면 */
.card > div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 750;
    border-radius: 15px;
    
}


.card-back{
    background-color: blue;
    transform: rotateY(180deg);
}
.card-front{
    background-color: red;
}

main{
    background-color: rgb(0, 0, 0, 0.2);
    width: 1200px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(10, 90px);
    grid-auto-rows: 120px;
    place-items: center center;
    place-content: center center;
}
.flip{
    transform: rotateY(180deg);
}

.card-area:hover{
    transform: rotateY(180deg);
}